.breadcrumbs{
    display:flex;
    align-items: center;
    padding:15px 0;
    margin: 0 -15px;

    &_item{
    text-transform: capitalize;
    font-size: 15px;
    color:$dark-blue;
    }

    &_link{
    text-decoration: none;
    color:#bbc1c3;
    position: relative;
    padding-right: 24px;

    &:after{
        content:'-';
        color: $main-color;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:10px;
    }
    }

    &_current{
        color:$dark-blue;
    }
}