.irs{

    &--round{
        height:80px;

        .irs-bar{
            background-color: $dark-grey;
            height:5px;
        }

        .irs-handle{
            border-color: $main-color;
            width:18px;
            height:18px;
            top:29px;
            cursor:grab;
        }
        .irs-line{
            height:5px;
            background-color: #f2f5f8;
        }

        .irs-to,
        .irs-from,
        .irs-single{
            top:50px;
            background-color: transparent;
            color: $dark-grey;
            font-size:15px;
            padding-top:8px;

            &:before{
                display:none;
            }
        }
        
    }
}

.form{
    background-color: $white;
    border: 1px solid $form-border-color;

    &_title{
        border-bottom: 1px solid $form-border-color;
        padding:20px 30px;
        line-height:1;
        color: $text-color-grey;
        font-size: 24px;
        font-weight:500;
        text-transform: capitalize;
    }

    &_row{

        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }

    &_main{
        padding: 40px 45px;
    }

    &_block{
        display:flex;

        &.required{
            
            .form_label{
                &:after{
                    content:'*';
                    font-size: 24px;
                    line-height:1;
                }
            }
        }
    }

    &_label{
        min-width:175px;
        padding:5px 5px 0 0;
        text-transform: capitalize;

        &:after{
            color: $main-color;
        }
    }

    &_input{
        background-color:transparent;
        border: none;
        outline:none;
        box-shadow:none;
        width:100%;
        margin:0;
        font-size:15px;
        line-height:1.32em;
        position: relative;
        z-index: 2;
        padding:10px 35px 10px 15px;
        text-transform: capitalize;

        &-holder{
           background-color: $input-bg;
           border: 1px solid $input-border-color;
           padding:0;
           flex-grow:1;
           position: relative;

           &:after{
               position: absolute;
               right: 20px;
               top:50%;
               transform: translateY(-50%);
               color:#444;
           }

        }
    }

    &_select{
        width:100%;
        -webkit-appearance: none;
                appearance: none;

                &::-ms-expand{
                    display:none;
                }

        &-holder{

            &:after{
            content: '\f0d7';
            font-size:14px;
            font-family: 'FontAwesome';
            }
        }
    }

    &_textarea{
        resize: none;
        min-height:148px;
        width:100%;
        overflow: hidden;
    }

    &_file{
        padding:0;
        opacity:0;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;

        &-fake{
            width:80px;
            height:25px;
            position: relative;
            border: 1px solid $input-border-color;
            background-color: $white;
            text-transform: capitalize;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            margin-right:10px;
            font-size:12px;
        }

        &-val{
            font-size: 12px;
            color:#707070;
        }

        &-holder{
            padding:6px 10px;
        }
    }
}