
.header_wrap-top{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-top{
    display:flex;
    width:100%;
    height:90px;
    background-color:$main-background-color;
    font-size: $f-size-base;
    justify-content: flex-end;
    align-items: center;
    margin: 0 -15px;


    .logo_main{
        margin-right:auto;
    }

    .header_top-text{
        padding-right: 30px;
        color: $text-color-grey;
        font-weight: 400;
            span{
            color: $red;
            }
    }

    .basket{
        width:35px;
        height:35px;
        border-radius: 50%;
        background-color: #f5f5f5;
        position:relative;
        margin-right:20px;
        flex-shrink: 0;

        a{
            color:$text-color-grey;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
        }

        .label_count{
            width:18px;
            height:18px;
            border-radius: 50%;
            background-color: $red;
            color:$white;
            text-align: center;
            position:absolute;
            top:-70%;
            left:90%;
        }
    }

    .btn_header_top{
        width:70px;
        padding: 10px 12px;
        margin-left:10px;
        font-size:12px;
    }
}

@media(max-width:767px){
    .header{
        &_top{

            &-text{
                display:none;
            }
        }

        .btn_header_top{
            display:none;
        }

        .user_toggle{
            position: relative;
            width:35px;
            height:35px;
            border-radius: 50%;
            flex-shrink: 0;
            background-color:#f5f5f5;
            color:$text-color-grey;
            margin-right:25px;

                &-menu{
                    background-color: black;
                    position: absolute;
                    top:50px;
                    width:50%;
                    background-color:$main-color;
                    text-transform: capitalize;
                    padding:5px;
                    display: none;
                    li{
                        padding:10px;
                    }
                }
        }
    }
}

@media(min-width: 768px){
    .user_toggle,
    .user_toggle-menu{
        display:none;
    }
}