.product{
    
      &_card{
        // max-width:440px;
        position: relative;
        // margin-right:15px;
        // margin-left:15px;
        margin-top:30px;
        display:flex;
        align-items: stretch;
        flex-wrap:wrap;
      }
    
      &_card-main{
        background-color:$white;
        flex-grow: 1;
        min-width:230px;
        border: 1px solid #d9e0e3;
        max-width:440px;
        

        .product_card-info-holder{
          max-width:380px;
          width:100%;
          margin: 0 auto;
        }
        .product_card-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight:500;
          min-height:100px;
          padding: 10px;
      
            .product_card-heading{
              color: $black;
              white-space: nowrap;
            }
    
            .product_card-type{
              font-size:12px;
              color: $main-color;
              padding-top:10px;
            }
    
            .product_card-price{
              font-size:16px;
              font-weight:700;
            }
        }
    }
    
      &_card-footer{
        max-width:380px;
        width:100%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        &-holder{
        border-top: 1px solid #d9e0e3;
        min-height:70px;
        padding: 10px;
        }
    
          .product_author{
              display:flex;
              align-items: center;
    
              &-icon{
                width:30px;
                height:30px;
                border-radius: 50%;
                margin:0;
                flex-shrink:0;
              }
    
              &-name{
                font-size:12px;
                color: $dark-grey;
                font-weight:500;
                padding-left:10px;
              }
          }
    
          .product_rating{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: flex-end;
    
            &-stars{
              display:flex;
              color:#ffa726;
              font-size: 12px;
                .product_rating-star{
                  &:not(:last-child){
                    padding-right:2px;
                  }
                }
            }
    
            &-views{
              font-size: 12px;
              color: #b4bec3;
              padding-left:15px;
                span{
                  color:$black;
                }
            }
          }
      }
    
      .product_card-img{
        display: block;
        max-width:440px;
      }
    
      &_info{
        display: flex;
        border-bottom:1px solid #e7ecf2;
        padding: 25px 25px 15px;
      }
    
      &_label{
        position: absolute;
        left:0;
        top:0;
        z-index: 2;
        width:64px;
        height:64px;
    
        &:before{
          content:'';
          position: absolute;
          top:0;
          left:0;
          width:0;
          height:0;
          border-style: solid;
          border-width: 64px 64px 0 0;
        }
    
        &:after{
          color:$white;
          font-family: 'FontAwesome';
        }
    
        &--hit{
          &:before{
          border-color:#8bc34a transparent transparent transparent;
          }
    
          &:after{
            content:'\f0e7';
            position:absolute;
            top:12px;
            left: 15px;
          }
        }
    }
}