.sidebar{
    width: 100%;
    max-width:300px;
    padding: 0 15px;
    &_block{
        padding:25px 20px;
        border: 1px solid #dcdcdc;
        background-color: $white;
        &:not(:last-of-type){
            margin-bottom: 30px;
        }
    }

        &_title{
            text-transform: capitalize;
            color: $dark-blue;
            font-size: 20px;
            font-weight:700;
            line-height:1;
            padding-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

        }    
}

.categories{
    &_list{
    padding-top: 20px;
    }

    &_item{

        &:not(:last-child){
            margin-bottom:20px !important;
        }

         a{
         color:$dark-blue;
         font-size:14px;
         text-transform: capitalize;
         }
    }

    &_count{
        font-size:14px;
        color:$dark-grey;
        float: right;
        &:after{
            content:'';
            display:table;
            clear:both;
        }
    }

}