.flex{
    &_container{
        max-width:1200px;
        width:100%;
        padding: 0 15px;
        margin: 0 auto;

        &--fw{
            // max-width:1870px;
            max-width:99999px;
        }

        &--tbp{
            padding: 120px 15px;
        }
    }

    &_row{
        margin: 0 -15px;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-content:center;
        width:100%;
    }

    &_col{
        padding: 0 15px;

        &--1-2{
            width: 50%;
            
            
            @media(max-width:1023px){
            &-tablet{
                width:50%;
            }
        }
        }

        &--1-3{
            width: calc(100% / 3);
            
            @media(max-width:767px){
                width:100%;
            }
        }

        &--1-4{
            width: 25%;

            @media(max-width:767px){
                width:100%;
            }
        }
    }
}

.content{
    width:100%;
    max-width: calc(100%-300px);
    padding: 0 15px;

    &:only-child{
        max-width:100%;
    }
}

.js_grid-list{
    .flex_row{
        display:block;
        [class^="flex_col"]{
            width:100%;
        }
    }
}